table#ajaxGrid {
   color:           inherit;
   background:      inherit;	/* Don't make tables transparent */
   border-collapse: collapse;
   border-spacing:  0;
   margin:          0.5em 2.5em;
   padding:         0;
   border:          1px solid #999999;
   table-layout:auto;
}

table#ajaxGrid caption {
   text-align:      center;
   caption-side:    top;
   margin:          0 2.5em 0.75em;
   padding:         0;
   border:          none;
}

table#ajaxGrid td,
table#ajaxGrid th {
   text-align:      center;
   vertical-align:  middle;
   margin:          0;
   padding:         0.25em 0.5em;
   border:          1px solid #999999;
   width:           150px;
}

table#ajaxGrid th,
table#ajaxGrid td.highlight,
table#ajaxGrid th.highlight {
   font-weight:     bold;
   color:           inherit;
   background:      #F0F0F0;
}

table#ajaxGrid td.lighter,
table#ajaxGrid th.lighter {
   color:           inherit;
   background:      #F8F8F8;
}

table#ajaxGrid td.left,
table#ajaxGrid th.left {
   text-align:      left;
}

table#ajaxGrid td.center,
table#ajaxGrid th.center {
   text-align:      center;
}

table#ajaxGrid td.right,
table#ajaxGrid th.right {
   text-align:      right;
}

.nodisplay
{
    display:none;
}