html,body
{
    margin:0em;
    padding:0em;
    height:100%;
}

#container
{
    position:relative;
    max-width: 1500px;
    min-width:800px;
    width:expression(
        (document.compatMode && document.compatMode == 'CSS1Compat')
        ?
        (
        document.documentElement.clientWidth < 800
        ?
        "800px"
        :
        "auto"
        )
        :
        (
        document.body.clientWidth < 800
        ?
        "800px"
        :
        "auto"
        )
        );
    margin: 0 auto;
    min-height:100%;
    height:auto !important;
    height:100%;
}

#categories
{
    background:rgb(184, 203, 206);
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(right, #f5f5f5 0%, #24454A 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(right,#f5f5f5 0%, #24454A 100%);

/* Opera */ 
background-image: -o-linear-gradient(right, #f5f5f5 0%, #24454A 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #f5f5f5), color-stop(1, #24454A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(right, #f5f5f5 0%, #24454A 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to left,#f5f5f5 0%, #24454A 100%);
}
#content
{
    background:rgb(239, 247, 246);
}

#footer
{
    clear: both;
    position:relative;
    height:2em;
    margin-top:-2em;
}
/*http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/
*/
#header,#footer
{
    background:rgb(142, 173, 170);
    text-align:center;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #D9D9D9 0%, #24454A 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #D9D9D9 0%, #24454A 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #D9D9D9 0%, #24454A 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D9D9D9), color-stop(1, #24454A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #D9D9D9 0%, #24454A 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #D9D9D9 0%, #24454A 100%);
}
#header
{
    height:4em;
    padding:0.5em;
}
.title
{
    font-size: 3em;
    font-weight: bold;
    padding-top: 0.5em;
    color: whitesmoke;
    text-shadow: 0 -3px 0 rgba(9, 10, 10, 0.76);
}
/*navigation*/
#navigation {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:1px solid #6E8687;
   overflow:hidden;
   position:relative;
   /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #D9D9D9 0%, #6E8687 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #D9D9D9 0%, #6E8687 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #D9D9D9 0%, #6E8687 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9D9D9), color-stop(1, #6E8687));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #D9D9D9 0%, #6E8687 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #D9D9D9 0%, #6E8687 100%);
}
#navigation ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#navigation ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0.15em;
   padding:0;
   position:relative;
   right:50%;
   width: 9em;
  
   font-size: 1.25em;
}

#navigation ul li a,
#navigation ul li a:hover,
#navigation ul li a.active,
#navigation ul li a.active:hover
{ 
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
   border:0.05em solid #6E8687;
}

#navigation ul li a {
   display:block;
   padding:3px 10px;
   background:#D9D9D9;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
   text-shadow: 0 -1px 0 rgba(24, 168, 224, 0.76);
}
#navigation ul li a:hover {
   background:#6E8687;
   color:#fff;
   font-weight:bold;
   text-shadow: 0 -2px 0 rgba(9, 10, 10, 0.76);
   border:0.05em solid White;
}
#navigation ul li a.active,
#navigation ul li a.active:hover {
   color:#fff;
   background:#6E8687;
   font-weight:bold;
}
#itemsPerPage{
padding-left: 19px;
}

