body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}


#navigation
{
    width: 100%;
    height:2em;
    background-color: rgb(24, 24, 65);
    color: White;
    text-align:center;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

input[type="submit"], input[type="button"], button
{
    width: 6em;
}

#tableBrands td, th, 
#tableVehicle td, th,
#priceHistory td, th
    {
        border: 1px solid grey;
        padding: 3px 7px 2px;
    }


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*-----------------------------------------*/
BODY
{
   background-image: url('backGround3.jpg');
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%; 
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-color: White;
}
BODY, HTML
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: left; 
    font-family: arial, helvetica, sans-serif;
}
BODY
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}
#header,#footer
{
    padding: 0px;
    color: #FFFAF0;
    background-color: rgba(2, 9, 0, 0.68);
    text-align: center;
    width: 100%;
}
#header
{
    height: 4em;
    padding-top: 1em; 
}
div.title
{
    font-weight: bold;
    font-size: 3em;
}

#container
{
    padding-bottom:2em;
    min-height:100%;
    _height:100%;
}
#categories
{
    float:left;
    width: 16em;
    padding: .3em;
    color: #FFFAF0;
    background-color: rgba(2, 9, 0, 0.68);
    border-right: 2px solid Silver;
}
#content
{
    margin-left: 16em;
    padding: 1em;
}
#footer
{
    clear:both;
    height: 2em;
    margin-top: -2em;
    position: absolute;
    bottom:0;
    padding-top: 1em;
    font-size: 1em;
    z-index:20;
}
#footer a
{
    color: #FBFEE7;
}
#footer a:hover
{
    color: #00FFFF;
}

div.item
{
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}
div.item: first child
{
    border-top:none;
    padding-top:none;
}
div.item h3
{
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}
div.item h4
{
    font-size: 1.1em;
    margin: .4em 0 0 0;
}

div.pager
{
    text-align:right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}
div.pager a
{
    font-size: 1.1em;
    color: #666;
    text-decoration: none;
    padding: 0 .4em 0 .4em:
}
div.pager a:hover
{
    background-color: Silver;
}
div.pager a.selected
{
    background-color: #353535;
    color:White;


/*BODY
{
    font-family: arial, helvetica, sans-serif;
    margin:0;
}
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A
{
    font:bold 1em "Arial Narrow", Arial;
}
DIV#header
{
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}
DIV#header DIV.title
{
    font-size: 2em;
    padding: .6em;
}
DIV#content
{
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}
DIV#categories
{
    float:left;
    width: 8 em;
    padding: .3em;
}*/

.tdInfo
{
    width: 8 em;
}

