<div class="nav nav-pills">
    <ul id="tabs" class="nav">
        <li>@Html.ActionLink("Catalog", "Grid", "AutoModel")</li>
        <li>@Html.ActionLink("Brands Digest", "BrandsDigest", "AdminBrand")</li>
        <li>@Html.ActionLink("Vehicles Digest", "VehiclesDigest", "AdminVehicle")</li>
    </ul>
</div>
