<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   <connectionStrings>
    <add name="AutoTradeEntities" 
         connectionString="metadata=res://*/Concrete.AutoTradeModel.csdl|res://*/Concrete.AutoTradeModel.ssdl|res://*/Concrete.AutoTradeModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;
         source=1234-PC;
         initial catalog=AutoTrade;
         integrated security=True;
         multipleactiveresultsets=True;
         App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>