@model IEnumerable<AutoTrade.Domain.Concrete.VehiclesDetails>

@{
    ViewBag.Title = "VehiclesDigest";
}

<h2>Vehicles Digest</h2>

<button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "AdminVehicle")'">Create new vehicle</button>

@using (Ajax.BeginForm("VehiclesDigest", "AdminVehicle", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tableVehicle"
    },
    new { id = "formVehicle" }))
{
    <div class="well well-small">
        <fieldset><legend>Search</legend>
            <label class="control-label">Auto model:</label>
            @Html.DropDownList("ActualAutoModels", String.Empty)
            <input type="submit" value="Search" id="btnSubmit" style="visibility:hidden"/>
        </fieldset> 
    </div>
}

<div id="tableVehicle">
        @Html.Partial("Ajax_VehicleTable", Model)
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#ActualAutoModels').change(function () {
            document.getElementById("btnSubmit").click();
        });

    });

</script>
