@model IEnumerable<AutoTrade.Domain.Concrete.Brand>

<div class="span4">
<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>Name</th>
        <th colspan="2">Actions</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "AdminBrand", new { item.Id })'" class="btn btn-primary btn-small" style="width:70px;">Edit</button>
        </td>
        <td>
            @using (Html.BeginForm("Delete", "AdminBrand", FormMethod.Post, htmlAttributes: new { style = "margin:0px;" }))
            {
                @Html.Hidden("Id", item.Id)
                <input class="btn btn-danger btn-small" type="submit" value="Delete" style="width:70px;" onclick = "return confirm('Are you sure you want to delete the brand?');"/>
            }
        </td>
    </tr>
}
</table>
</div>

