@model IEnumerable<AutoTrade.Domain.Concrete.Brand>

@{
    ViewBag.Title = "Brands Digest";
}

<h2>Brands Digest</h2>
<button onclick="location.href='@Url.Action("Create", "AdminBrand")'" class="btn btn-primary">Create new brand</button>

@using (Ajax.BeginForm("BrandsDigest", "AdminBrand", new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tableBrands"
    },
    new { id="formBrands"}))
{
    <div class="well well-small">
        <fieldset><legend>Search</legend>
                     <label class="control-label">Brands:</label>
                     @Html.DropDownList("ActualBrands", new SelectList(Model, "Id", "Name"), String.Empty)
                     <input type="submit" value="Search" id="btnSubmit" style="visibility:hidden" />
        </fieldset>
    </div>
}

<div id="tableBrands">
        @Html.Partial("Ajax_BrandTable", Model)
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#ActualBrands').change(function () {
            document.getElementById("btnSubmit").click();
        });
    });

    $('#tree .folder').live("click", function () {
        var idItem = $(this).closest('li').attr('id');
       
        document.forms[0].reset();

        $('#ActualBrands')[0].selectedIndex = idItem;

        $('#tableBrands').load('@Url.Action("BrandsDigest", "AdminBrand")', { ActualBrands: idItem });

    });
       
</script>


